
.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#eventAdd {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row;
	grid-gap: 0 1em;
}
#eventAdd .fifty {
	grid-column: span 2;
}
#eventAdd #container_eventExtra_soccer, #eventAdd #container_eventExtra_imdb {
	margin-bottom: 0;
}