body {
	min-width: 200px;
	font-size: 9px;
}
#options {
	width: 40px;
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	padding: 4px;
	box-shadow: #252525 -1px 0px 8px;
}
#events {
	width: auto;
	min-width: 160px;
	margin-left:calc(40px + 1em);
	display: grid;
	grid-template-columns: 160px;
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	grid-auto-rows: 1fr;
	grid-auto-columns: 160px;
	grid-gap: 1em;
	align-items: stretch;
	justify-items: center;
	align-content: space-evenly;
	margin-right: 9px;
}
#events .card {
	z-index: -1;
}
#events .card.expired {
	background-color: #eee !important;
	color: #cacaca !important;
}
#events .card.expired img {
	opacity: 0.6;
}
.card img {
	width: 100%
}
.card-image-container {
	display: grid;
	grid-template-columns: minmax(100px, 100%);
	grid-template-rows: minmax(200px, 100%);
}
.card-image-container img {
	object-fit: cover;
	height: 100%;
	object-position: center center;
}

.card-body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25% 50% 25%;
	grid-auto-flow: row;
	grid-gap: 0;
	align-content: space-between;
	align-items: center;
	padding: 0.5rem;
}
.card-body .timer {
	align-self: end;
}

.description {
	display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}
.card-title {
	min-height: 38px;
	font-size: 12px;
}
#events .countdownItemContainer {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	grid-gap: 1em;
	grid-auto-columns: auto;
	margin-top:10px;
}
#events .countdownItemContainer .countdownItem {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-auto-flow: row;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-gap: 1em;
	align-content: center;
	align-items: center;
	justify-items: center;
	font-size: 18px;
	line-height: 0px;
}
#events .countdownItemContainer .countdownItem span {
	font-size: 7px;
}