:root {
	--main-color: #17a2b8;
}
body {
    font-size: 14px;
}

#eventImage_image img {
    width: 100%;
}

#eventImage_image .title {
	position: absolute;
	left: 120px;
}
.border-variable {
	border: 1px solid var(--main-color)!important;
}
.text-variable {
	color: var(--main-color)!important;
}
.btn-variable {
	color: #fff;
	background-color: var(--main-color)!important;
	border-color: var(--main-color)!important;
}
.btn-outline-variable {
	color: #fff;
	background-color: var(--main-color)!important;
	border-color: var(--main-color)!important;
}
.btn-outline-variable:hover {
	color: #fff !important;
	opacity: 0.8;
}
#entries tbody tr:hover {
    background-color: var(--main-color)!important;
    color: white;
    cursor: pointer;
}

#entries tbody tr:hover span[data-category] {
    color: #fff !important;
    border: 1px solid #fff !important;
}

span[data-category] {
    padding: 0em 0.5em;
		border-radius: 0.2em;
		line-height: 1.6em;
}

#eventImage_upload_feedback {
    text-align: center;
}
#eventExtra_imdb {
	color: #fff;
	background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%)
}
#eventExtra_imdb::placeholder {
	color:#aba9a9;
}
#eventImage_details {
	margin-top:30px;
}

button {
	background-image: none !important;
	box-shadow: none !important;
}
.btn:hover, button:hover {
	background-image: none !important;
	box-shadow: none !important;
	color: #fff !important;
	opacity: 0.8 !important;
}
.optgroup-header {
	font-weight: bold;
	padding-left: 0;
	margin-left: 0px;
}
.selectize-date {
	width: 100%;
	display: block;
	background-color: #6c757d;
	color: #fff !important;
	padding: 5px;
}
[name="eventExtra_soccer"] + .selectize-control .selectize-dropdown [data-selectable], [name="eventExtra_soccer"] + .selectize-control .selectize-input div {
	display: grid;
	grid-template-columns: 20px auto auto 1fr;
	grid-gap: 0 0.5em;
	align-items: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	grid-template-rows: auto;
}

[name="eventExtra_imdb"] + .selectize-control .selectize-input div {
	display: grid;
	grid-template-columns: 32px auto 1fr;
	grid-gap: 0 0.5em;
	align-items: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	grid-template-rows: auto;
}
[name="eventExtra_imdb"] + .selectize-control .selectize-dropdown [data-selectable] {
	display: grid;
	grid-template-columns: 32px auto 1fr;
	grid-gap: 0 0.5em;
	align-items: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	grid-template-rows: auto;
}
.selectize-input div {
	max-height: 17px;
}
.selectize_rank {
	background-color: #fff;
	color: #000;
	border-radius: 30%;
	width: 14px;
	height: 12px;
	font-size: 7px;
	display: inline-block;
	line-height: 12px;
	text-align: center;
	border: 1px solid #000;
	margin-left: 5px;
	border-bottom: 0px;
	border-top: 0px;
	font-weight: normal;
}
.selectize-input [data-type] .selectize_image img {
	height: 30px;
}
[data-type] .selectize_type {
	color: #fff;
	left: 1px;
	height: auto;
	font-size: 7px;
	width: 32px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 2px;
	text-align: center;
	float: left;
	align-self: center;
}
/* movie */
[data-type="movie"] .selectize_type {
	background-color: #0082c8;
}
/* serie */
[data-type="series"] .selectize_type {
	background-color: #911eb4;
}
/* game */
[data-type="game"] .selectize_type {
	background-color: #3cb44b;
}
/* episode */
[data-type="episode"] .selectize_type {
	background-color: #f58231;
}
.selectize_image img {
	height: 82px;
	width: auto;
}
[data-day] .selectize_weekday {
	color: #fff;
	left: 1px;
	height: auto;
	font-size: 7px;
	width: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 2px;
	text-align: center;
	float: left;
	align-self: center;
}
/* sunday */
[data-day="0"] .selectize_weekday {
	background-color: #0082c8;
}
/* monday */
[data-day="1"] .selectize_weekday {
	background-color: #000080;
}
/* tuesday */
[data-day="2"] .selectize_weekday {
	background-color: #f58231;
}
/* wednesday */
[data-day="3"] .selectize_weekday {
	background-color: #008080;
}
/* thursday */
[data-day="4"] .selectize_weekday {
	background-color: #911eb4;
}
/* friday */
[data-day="5"] .selectize_weekday {
	background-color: #3cb44b;
}
/* saturday */
[data-day="6"] .selectize_weekday {
	background-color: #e6194b;
}
label:empty, select:empty {
	display:none;
}

.badge.delete {
	border-radius: 0.2em;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
}